/* MEDIA QUERIES:MIN ==================== */
@media (min-width: 391px) {
    .hidden-device-2xs {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .hidden-device-xs {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .hidden-device-sm {
        display: none !important;
    }

    .visually-hidden-sm {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        height: 0;
    }

    .field {
        width: calc((100% - var(--column-gap)) / 2);
    }

    .field.full-width {
        width: 100%;
    }

    /* HEADER ==================== */
    html.page-scrolling #header:not(.expand-menu) .header-nav .menu,
    #header.collapse-menu:not(.expand-menu) .header-nav .menu {
        transform: translateX(100%);
        opacity: 0;
        transition-delay: 0s;
    }

    html.page-scrolling #header:not(.expand-menu) .header-menu-ctrl,
    #header.collapse-menu:not(.expand-menu) .header-menu-ctrl {
        opacity: 1;
        pointer-events: auto;
        transition-delay: var(--duration-x2);
    }

    /* SECTION ====================*/
    /* List Item Template */
    [data-card="product-grid-card"] .card-container .swiper-wrapper {
        transform: none !important;
    }

    /* PAGE ====================*/
    /* PAGE: INDEX */
    .index-main [data-section="list-item-template"] .sc-inner {
        padding-bottom: calc(var(--gap-section) * 2);
    }

    /* PAGE: TERMS */
    /* Terms */
    [data-section="terms"] .tab-links {
        height: fit-content;
        position: sticky;
        top: var(--header-height);
    }

    [data-section="terms"] .tab-links .swiper-wrapper {
        flex-direction: column;
        grid-gap: var(--spacing-5xs);
        transform: none !important;
    }
}

@media (min-width: 992px) {
    .hidden-device-md {
        display: none !important;
    }
}

@media (min-width: 1280px) {
    .hidden-device-lg {
        display: none !important;
    }
}

@media (min-width: 1440px) {
    .hidden-device-xl {
        display: none !important;
    }

    :root {
        --font-size-h1: clamp(2.3rem, 1.5972222222vw, 3.45rem);
        --font-size-h2: clamp(1.7rem, 1.1805555556vw, 2.55rem);
        --font-size-h3: clamp(1.4rem, 0.9722222222vw, 2.1rem);
        --font-size-h4: clamp(1.3rem, 0.9027777778vw, 1.95rem);
        --font-size-tagline: clamp(1.1rem, 0.7638888889vw, 1.65rem);
        --font-size-body-big: var(--font-size-h4);
        --font-size-body: var(--font-size-h4);
        --font-size-sub: var(--font-size-tagline);
        --font-size-sub-2: var(--font-size-tagline);
        --font-size-button: clamp(1.2rem, 0.8333333333vw, 1.8rem);
    }
}

/* MEDIA QUERIES:MAX ==================== */
@media (max-width: 1439px) {
    .show-xl {
        display: none !important;
    }
}

@media (max-width: 1279px) {
    .show-lg {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .show-md {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .show-sm {
        display: none !important;
    }

    :root {
        --font-size-h1: 2.3rem;
        --font-size-h2: 1.9rem;
        --font-size-h3: 1.7rem;
        --font-size-h4: 1.5rem;
        --font-size-tagline: 1.4rem;
        --font-size-body-big: var(--font-size-h4);
        --font-size-body: var(--font-size-h4);
        --font-size-sub: var(--font-size-tagline);
        --font-size-sub-2: var(--font-size-tagline);
        --font-size-button: 1.6rem;

        --line-height-h1: 1.1304347826;
        --line-height-h2: 1.1578947368;
        --line-height-h3: 1.1764705882;
        --line-height-h4: 1.2;
        --line-height-tagline: 1.2857142857;
        --line-hight-body-big: 1.4666666667;
        --line-height-body: 1.4666666667;
        --line-height-sub: 1.1428571429;
        --line-height-sub-2: 1.2857142857;
        --line-height-button: 1;

        --spacing-container: var(--spacing-2sm);
    }

    .size-pc-h2-mb-h1 {
        font-size: var(--font-size-h1) !important;
        line-height: var(--line-height-h1);
    }

    .swiper-nav.bracket [class*="swiper-button-"]:before {
        content: none;
    }

    .swiper-nav.bracket [class*="swiper-button-"]:after {
        opacity: 1;
    }

    [class*="block-content-"].center-mb {
        align-items: center;
        text-align: center;
    }

    .accordion {
        padding: var(--spacing-3lg) 0;
        grid-gap: var(--spacing-md);
        flex-direction: column;
    }

    .accordion > * {
        width: 100%;
    }

    .accordion > .entry-title {
        align-items: center;
    }

    .accordion .accordion-ttl {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .accordion .entry-panel {
        max-width: unset;
    }

    .accordion .entry-panel .entry-content p {
        text-align: center;
    }

    /* BUTTON ==================== */
    *:is(.button, .wp-element-button, .wp-block-button__link) {
        color: var(--button-hover-color) !important;
    }

    *:is(.button, .wp-element-button, .wp-block-button__link)::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
        opacity: 0.8;
    }

    /* HEADER ==================== */
    .header-nav .menu a {
        font-size: var(--font-size-h3);
        line-height: var(--line-height-h3);
    }

    .header-menu-ctrl a {
        font-size: 1.4rem;
    }

    .panel {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-cream);
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        z-index: 95;
        transition: opacity var(--duration-x2) var(--timing-function);
    }

    html.header-menu-enabled .panel {
        opacity: 1;
        pointer-events: auto;
    }

    .panel .panel-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: var(--header-height) var(--spacing-container) 0;
    }

    .panel-scroll {
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -ms-scroll-chaining: none;
        overscroll-behavior: contain;
        -webkit-mask-box-image: -webkit-linear-gradient(
            -90deg,
            transparent 0%,
            white var(--spacing-2md),
            white calc(100% - var(--spacing-2md)),
            transparent 100%
        );
    }

    .panel .panel-body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-menu .menu {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
        padding: var(--spacing-2md) 0;
    }

    .header-menu-ctrl {
        opacity: 1;
        pointer-events: auto;
    }

    .menu .button::before {
        content: none;
    }

    /* FOOTER ==================== */
    #footer {
        padding: var(--spacing-xl) var(--spacing-container) var(--spacing-sm);
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-2sm);
    }

    .footer-nav > * {
        align-self: flex-start;
    }

    .footer-address {
        order: 1;
    }
    .footer-email {
        order: 2;
    }
    .footer-email > a {
        font-size: var(--font-size-sub);
        line-height: var(--line-height-sub);
    }

    .footer-social {
        order: 3;
    }
    .footer-copy {
        order: 5;
    }
    .footer-copy > * {
        font-size: 1.2rem;
        letter-spacing: var(--letter-spacing-xs);
    }

    /* Footer Links */
    .footer-links {
        margin-top: var(--spacing-sm);
        margin-bottom: var(--spacing-sm);
        order: 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--spacing-sm);
        row-gap: var(--spacing-lg);
    }
    .footer-links-list li > * {
        font-size: 1.4rem;
    }

    /* COMPONENT */
    /* DEFAULT ====================*/

    /* SECTION ====================*/
    /* Full Screen Slide */
    [data-section="full-screen-slide"] [class*="block-content-"] {
        width: calc(100% - var(--spacing-container) * 2);
    }

    [data-section="full-screen-slide"] [class*="block-content-"] .block-desc > * {
        max-width: 100%;
        line-clamp: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
        display: unset;
    }

    /* List Item Template */
    [data-section="list-item-template"] .sc-ttl {
        text-align: center;
    }

    [data-section="list-item-template"] .tab-links:not(.view-toggle) {
        flex-direction: column-reverse;
        grid-gap: var(--spacing-3lg);
        align-items: center;
        margin-top: var(--spacing-md);
    }

    [data-section="list-item-template"] .tab-links.type:not(:has(.view-toggle)) {
        margin-bottom: var(--spacing-sm);
    }

    [data-section="list-item-template"] .tab-links.view-toggle {
        justify-content: center;
    }

    [data-section="list-item-template"] .grid-container {
        display: flex;
        flex-direction: column;
    }

    [data-section="list-item-template"] .load-more {
        margin-top: var(--spacing-4xl);
    }

    [data-section="list-item-template"].project-view .tab-links {
        max-width: unset;
    }

    [data-section="list-item-template"].project-view {
        height: auto;
    }

    [data-section="list-item-template"] .project-slider .swiper {
        overflow: visible;
        width: 100vw;
        margin-left: calc(-1 * var(--spacing-container));
        margin-right: calc(-1 * var(--spacing-container));
    }

    [data-section="list-item-template"] .project-slider .swiper-slide {
        padding-left: var(--spacing-container);
        padding-right: var(--spacing-container);
    }

    [data-section="list-item-template"] .project-slider-item {
        padding-bottom: var(--spacing-4xl);
    }

    [data-section="list-item-template"] .project-slider-item .item-media-slider {
        --bottom-offset: var(--spacing-lg);
        aspect-ratio: 1.3359375;
        margin-bottom: var(--spacing-2sm);
    }

    [data-section="list-item-template"] .item-media-slider .media *:is(img, video) {
        position: absolute;
        width: 100%;
    }

    [data-section="list-item-template"] .project-slider .item-media-slider .swiper-nav {
        justify-content: center;
        bottom: var(--spacing-4xs);
    }

    [data-section="list-item-template"] .project-slider .item-media-slider .media-swiper-pagination {
        width: auto;
    }

    [data-section="list-item-template"] .project-slider-item .item-media-slider [class*="swiper-button-"]::after {
        font-size: var(--icon-size-sm);
    }

    [data-section="list-item-template"] .media-swiper-button-prev::after {
        content: "\e905";
    }

    [data-section="list-item-template"] .media-swiper-button-next::after {
        content: "\e906";
    }

    [data-section="list-item-template"] .project-slider-item .item-media {
        aspect-ratio: 1.3359375;
        margin-bottom: var(--spacing-2sm);
    }

    [data-section="list-item-template"] .project-slider-item .block-desc {
        --line-clamp: 2;
        height: calc(var(--font-size-body) * var(--line-height-body) * var(--line-clamp));
        line-clamp: var(--line-clamp);
        -webkit-line-clamp: var(--line-clamp);
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }

    [data-section="list-item-template"] .project-slider .swiper-nav {
        left: var(--spacing-container);
        right: var(--spacing-container);
        transform: unset;
        bottom: 0;
    }

    [data-section="list-item-template"] .project-slider *[class*="swiper-button-"]:after {
        color: var(--color-light-brown);
        font-size: var(--icon-size-sm);
    }

    [data-card="product-grid-card"] .block-desc {
        max-width: unset;
    }

    [data-card="product-grid-card"] .card-container {
        --gap-x: var(--spacing-2xs);
        margin-bottom: var(--spacing-md);
    }

    [data-card="product-grid-card"] .card-container .swiper {
        overflow: visible;
    }

    [data-card="product-grid-card"] .card-container .media {
        height: 52.05128205128vw;
    }

    /* 2 Items */
    [data-card="product-grid-card"] .swiper-slide:first-child {
        width: 96.4912280702% !important;
    }

    [data-card="product-grid-card"] .swiper-slide:first-child + .swiper-slide:last-child {
        width: 44.4444444444% !important;
    }

    /* 3 Items */
    [data-card="product-grid-card"] .swiper-slide:first-child:has(+ * + .swiper-slide:nth-child(3)) {
        width: 44.4444444444% !important;
    }

    [data-card="product-grid-card"] .swiper-slide:nth-child(2) {
        width: 44.4444444444% !important;
    }

    [data-card="product-grid-card"] .swiper-slide:nth-child(3) {
        width: 44.4444444444% !important;
    }

    /* Hero Banner */
    [data-section="hero-banner"] .banner-media::before {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.96) 100%);
    }

    [data-section="hero-banner"] [class*="block-content-"] .block-desc > * {
        max-width: unset;
    }

    /* Timeline */
    [data-section="timeline"] .sc-inner {
        padding-bottom: 0;
    }

    [data-section="timeline"] .sc-billboard.full-screen {
        height: auto;
    }

    [data-section="timeline"] .mb-content .sc-header {
        margin-bottom: var(--spacing-xl);
    }

    [data-section="timeline"] .mb-content .thumb-slide {
        position: relative;
    }

    [data-section="timeline"] .thumbs-slide:not(:has(.thumb-slide-nav)) {
        padding-bottom: var(--spacing-4xl);
    }

    [data-section="timeline"] .mb-content .swiper {
        overflow: visible;
    }

    [data-section="timeline"] .thumbs .swiper-slide {
        width: auto !important;
    }

    .timeline-thumb {
        text-align: center;
        position: relative;
        padding-left: var(--spacing-sm);
        padding-right: var(--spacing-sm);
    }

    .timeline-thumb .timeline-ttl:last-child {
        margin-bottom: var(--spacing-xl);
    }

    .timeline-thumb *:is(.timeline-ttl, .timeline-subttl) > * {
        color: var(--color-light-brown);
    }

    [data-section="timeline"] .swiper-slide-thumb-active *:is(.timeline-ttl, .timeline-subttl) > * {
        color: var(--color-brown);
    }

    .timeline-thumb.line-marker {
        padding-bottom: var(--spacing-2md);
        margin-bottom: var(--spacing-2md);
        --marker-size: 1.4rem;
    }

    .timeline-thumb.line-marker:before {
        content: "";
        display: block;
        width: var(--marker-size);
        aspect-ratio: 1;
        background-color: var(--color-off-white);
        border: 0.1rem solid rgba(var(--color-brown-rgb), 1);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 3;
        transition: var(--duration) var(--timing-function);
    }

    .timeline-thumb.line-marker:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(var(--color-brown-rgb), 0.3);
        position: absolute;
        left: 0;
        bottom: calc(var(--marker-size) / 2);
        z-index: 2;
    }

    [data-section="timeline"] .swiper-slide-thumb-active .timeline-thumb.line-marker:before {
        background-color: var(--color-brown);
    }

    [data-section="timeline"] .swiper-slide:first-child .timeline-thumb.line-marker:after {
        width: 50%;
        left: 50%;
    }

    [data-section="timeline"] .swiper-slide:last-child .timeline-thumb.line-marker:after {
        width: 50%;
        right: 50%;
        left: unset;
    }

    [data-section="timeline"] .swiper.top {
        width: 100vw;
        margin-left: calc(-1 * var(--spacing-container));
        margin-right: calc(-1 * var(--spacing-container));
    }

    [data-section="timeline"] .swiper.top .swiper-slide {
        height: auto !important;
    }

    .timeline-slide-content {
        --media-height: 59.4871794872vw;
        padding-left: var(--spacing-container);
        padding-right: var(--spacing-container);
        opacity: 0;
        transition: opacity var(--duration) var(--timing-function);
    }

    .swiper-slide-active .timeline-slide-content {
        opacity: 1;
    }

    .timeline-slide-content .entry-content {
        margin-bottom: var(--spacing-md);
    }

    .timeline-slide-content .media {
        text-align: center;
    }

    .timeline-slide-content .media .media-ttl {
        margin-top: var(--spacing-2xs);
    }

    .timeline-slide-content .media .media-subttl {
        margin-top: var(--spacing-6xs);
    }

    .timeline-slide-content .swiper-slide .media .media-src {
        height: var(--media-height);
    }

    .timeline-slide-content .swiper-slide .media .media-src .object-fit > *:is(img, video, iframe) {
        width: auto;
    }

    .timeline-slide-content *[class*="swiper-button-"] {
        position: absolute;
        top: calc(var(--media-height) / 2);
        transform: translateY(-50%);
    }

    .timeline-slide-content *[class*="swiper-button-"]:after {
        color: var(--color-brown);
        font-size: var(--icon-size-sm);
    }

    .timeline-slide-content .swiper-button-prev {
        left: 0;
    }

    .timeline-slide-content .swiper-button-prev::after {
        content: "\e905";
    }

    .timeline-slide-content .swiper-button-next {
        right: 0;
    }

    .timeline-slide-content .swiper-button-next::after {
        content: "\e906";
    }

    .timeline-slide-content .media-single .object-fit > *:is(img, video, iframe) {
        position: static;
        height: auto;
    }

    [data-section="timeline"] .thumb-slide-nav {
        width: 100vw;
        margin-left: calc(-1 * var(--spacing-container));
        margin-right: calc(-1 * var(--spacing-container));
        min-height: 9.4rem;
        margin-top: var(--spacing-sm);
        position: sticky;
        z-index: 10;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        grid-gap: var(--spacing-sm);
        padding: var(--spacing-xs);
        background: linear-gradient(180deg, rgba(246, 246, 246, 0) 31.73%, #f6f6f6 55.77%);
    }

    /* Media Slider */
    [data-section="media-slider"] {
        height: auto;
        aspect-ratio: 1.7777777778;
        --bottom-offset: var(--spacing-md);
    }

    [data-section="media-slider"] .sc-ttl {
        top: var(--spacing-sm);
    }

    [data-section="media-slider"] .swiper-slide::before {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.49%, rgba(0, 0, 0, 0.56) 94.2%);
    }

    [data-section="related-items"] .card-container {
        --column: 1.2;
        --gap-x: var(--spacing-2sm);
    }

    /* Related Items */
    [data-section="related-items"] .sc-header {
        flex-direction: column;
        align-items: center;
        grid-gap: var(--spacing-md);
    }

    /* ELEMENT ====================*/
    /* Icon List */
    .icon-list {
        flex-direction: column;
        align-items: center;
        margin-top: var(--spacing-3lg);
        grid-gap: var(--spacing-md);
    }

    .icon-list .icon-item {
        width: 24.2rem;
        align-items: center;
        text-align: center;
    }

    .icon-list .icon-item [class*="icon-illus-"] {
        height: 3.2rem;
        width: 100%;
        background-position: center;
    }

    /* Project Grid Card */
    [data-card="project-grid-card"] [class*="block-content-"] .block-desc > * {
        line-clamp: 2;
        -webkit-line-clamp: 2;
    }

    /* PAGE */
    /* PAGE: INDEX */
    /* Content Template 1 */
    [data-section="content-template-1"] .content {
        display: flex;
        flex-direction: column;
    }

    [data-section="content-template-1"] .block[data-block="3"] [class*="block-content-"]:last-child {
        order: -1;
        margin-top: var(--spacing-2md);
    }

    /* Block 1 */
    [data-section="content-template-1"] .block[data-block="1"] [class*="block-content-"] {
        max-width: unset;
    }

    /* Block 3 */
    [data-section="content-template-1"] .block[data-block="3"] {
        flex-direction: column-reverse;
        align-items: center;
        grid-gap: var(--spacing-2sm);
        margin-top: calc(-1 * var(--spacing-xs));
    }

    [data-section="content-template-1"] .block[data-block="3"] .block-media-wrapper:first-child {
        width: 100%;
    }

    [data-section="content-template-1"] .block[data-block="3"] .block-media-wrapper:nth-child(2) {
        width: 70.7602339181%;
    }

    /* PAGE: ABOUT */
    /* Content Template 2 */
    [data-section="content-template-2"] .content {
        flex-direction: column;
        grid-gap: 0;
    }

    [data-section="content-template-2"] .block[data-block="1"] {
        position: static;
        padding-top: 0;
    }

    [data-section="content-template-2"] .block[data-block="1"] .block-ttl > * {
        font-size: var(--font-size-h1);
        line-height: var(--line-height-h1);
    }

    [data-section="content-template-2"] .content > * {
        width: 100%;
    }

    [data-section="content-template-2"] .block[data-block="2"] {
        display: flex;
        flex-direction: column-reverse;
        grid-gap: var(--spacing-xl);
    }

    /* Content Template 3 */
    [data-section="content-template-3"] [class*="block-content-"] {
        margin-bottom: var(--spacing-lg);
    }

    [data-section="content-template-3"] .card-container {
        --column: 1;
        --gap-y: var(--spacing-lg);
    }

    [data-section="content-template-3"] .card-container:not(:first-child) {
        --gap-y: var(--spacing-2sm);
    }

    [data-section="content-template-3"] .card-container:not(:last-child) {
        margin-bottom: var(--spacing-4xl);
    }

    /* PAGE: PROJECT SINGLE */
    /* Content Template 4 */
    [data-section="content-template-4"] .sc-inner {
        padding-top: var(--gap-section);
    }

    [data-section="content-template-4"] .content {
        --block-gap: var(--spacing-3lg);
    }

    /* Block-1 */
    [data-section="content-template-4"] .block[data-block="1"] {
        display: flex;
        flex-direction: column;
    }

    [data-section="content-template-4"] .block[data-block="1"] .block-table .block-table-item {
        max-width: unset;
    }

    /* Block-2 */
    [data-section="content-template-4"] .block[data-block="2"] {
        flex-direction: column;
        grid-gap: var(--block-gap);
    }

    /* Block-3 */
    [data-section="content-template-4"] .block[data-block="3"] {
        display: block;
    }

    /* Block-4 */
    [data-section="content-template-4"] .block[data-block="4"] {
        display: flex;
        flex-direction: column;
        row-gap: var(--block-gap);
    }

    /* Block-5 */
    [data-section="content-template-4"] .block[data-block="5"] {
        display: flex;
        flex-direction: column-reverse;
        row-gap: var(--spacing-2xs);
    }

    [data-section="content-template-4"] .block[data-block="5"] .media-container {
        grid-gap: var(--spacing-2xs);
        width: 100%;
    }

    [data-section="content-template-4"] .block[data-block="5"] .entry-content {
        margin-top: var(--spacing-2md);
    }

    /* PAGE: PRODUCT SINGLE */
    /* Content Template 4 Entry Content */
    .product-single-main .entry-content {
        --gap-row: var(--spacing-2xs);
        --gap-content: var(--spacing-3lg);
    }

    .product-single-main
        [class*="wp-block-"]:not(.wp-block-heading, .wp-block-list, .wp-block-column)
        + *:not(:first-child),
    .product-single-main
        *
        + [class*="wp-block-"]:not(.wp-block-heading, .wp-block-list, .wp-block-column):not(:first-child) {
        margin-top: var(--gap-content);
    }

    .product-single-main .wp-block-columns.mb-col-reverse {
        flex-direction: column-reverse;
        grid-gap: var(--gap-content);
    }

    .product-single-main .entry-content .wp-block-column[style*="flex-basis:33.33%"]:empty {
        display: none;
    }

    /* PAGE: WORKSHOP */
    /* Content Template 5 */
    [data-section="content-template-5"] .content {
        flex-direction: column;
        grid-gap: var(--spacing-4xl);
    }

    [data-section="content-template-5"] .content > * {
        width: 100%;
    }

    [data-section="content-template-5"] .sticky-block {
        position: static;
        padding-top: 0;
    }

    [data-section="content-template-5"] [class*="block-content-"] {
        max-width: unset;
    }

    [data-section="content-template-5"] .static-block {
        --block-gap: var(--spacing-3lg);
        text-align: center;
    }

    [data-section="content-template-5"] .block[data-block="1"] .block-desc > * {
        max-width: unset;
        text-wrap: balance;
    }

    [data-section="content-template-5"] .block-subttl {
        margin-bottom: var(--spacing-2xs);
        justify-content: center;
    }

    [data-section="content-template-5"] .material-list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--spacing-2xs);
        row-gap: var(--spacing-2sm);
    }

    [data-section="content-template-5"] .technique-list {
        flex-direction: column;
        grid-gap: var(--spacing-md);
    }

    /* PAGE: CONTACT */
    /* Contact */
    [data-section="contact"] .sc-inner {
        padding-top: 0;
    }

    [data-section="contact"] .sc-ttl {
        text-align: center;
    }

    [data-section="contact"] .content {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-3xl);
    }

    [data-section="contact"] .contact-info {
        align-items: center;
        text-align: center;
        grid-gap: var(--spacing-3lg);
        margin-top: var(--spacing-3lg);
        padding-bottom: var(--spacing-3xl);
        border-bottom: 1px solid rgba(var(--color-dark-brown-rgb), 0.14);
    }

    [data-section="contact"] .contact-info .location {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    [data-section="contact"] .contact-info .location address {
        margin-top: var(--spacing-2xs);
    }

    [data-section="contact"] .contact-info .location .button {
        margin-top: var(--spacing-md);
    }

    [data-section="contact"] .contact-list {
        grid-gap: var(--spacing-lg);
    }

    [data-section="contact"] .contact-list a {
        flex-direction: column;
    }

    [data-section="contact"] .contact-list .ic::before {
        font-size: var(--icon-size-sm);
    }

    [data-section="contact"] .contact-info .social .ic {
        font-size: var(--icon-size-sm);
    }

    [data-section="contact"] .form-block form {
        --row-gap: var(--spacing-2sm);
        grid-gap: var(--spacing-3lg);
        align-items: center;
    }

    [data-section="contact"] .form-block [class*="block-content-"] {
        max-width: unset;
        text-align: center;
        align-items: center;
    }

    /* PAGE: TERMS */
    /* Terms */
    [data-section="terms"] .tab-container {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-xl);
    }

    [data-section="terms"] .sc-ttl {
        text-align: center;
    }

    [data-section="terms"] .tab-links .swiper {
        overflow: visible;
    }

    [data-section="terms"] .tab-links .swiper-slide {
        width: auto !important;
    }

    [data-section="terms"] .tab-links .tab a {
        padding: 0 var(--spacing-sm);
    }

    [data-section="terms"] .content-ttl {
        display: none;
    }

    /* PAGE: NOT FOUND */
    /* Not Found */
    [data-section="not-found"] .container {
        top: 21.8281036835%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 575px) {
    .show-xs {
        display: none !important;
    }
}

@media (max-width: 390px) {
    .show-2xs {
        display: none !important;
    }
}
